/* Empty. Add your own CSS if you like */
.Amount {
	background: #387ef5;
	color: #fff;
	padding: 16px 17px;
	width: 50px;
	height: 52px;
	position: absolute;
	right: 0px;
	top: 0;
	font-size: 2rem;
}